node_modules
.idea
tmp
src-admin/build
src-admin/node_modules
package-lock.json
src-admin/package-lock.json
*.tgz
/src-admin/.__mf__temp/

#ignore .commitinfo created by ioBroker release script
.commitinfo
