node_modules
.idea
tmp
src-admin/build
src-admin/node_modules
*.tgz
/src-admin/.__mf__temp/

#ignore .commitinfo created by ioBroker release script
.commitinfo
/.claude/settings.local.json
/src-devices/build/.vite/manifest.json
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare___mf_0_emotion_mf_1_react__loadShare__.mjs-DNemu2ki.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare___mf_0_emotion_mf_1_styled__loadShare__.mjs-B83PkssG.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare___mf_0_iobroker_mf_1_adapter_mf_2_react_mf_2_v5__loadShare__.mjs-CWAuZcZI.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare___mf_0_iobroker_mf_1_dm_mf_2_widgets__loadShare__.mjs-DAK_J37O.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare___mf_0_mui_mf_1_icons_mf_2_material__loadShare__.mjs-BfHzyJoP.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare___mf_0_mui_mf_1_material__loadShare__.mjs-u4IUqEJ9.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare__react__loadShare__.mjs-D6VH-lwd.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare__react__loadShare__.mjs_commonjs-proxy-C3u_wCfP.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare__react_mf_1_jsx_mf_2_runtime__loadShare__.mjs-D9kSWZvP.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare__react_mf_2_dom__loadShare__.mjs-DgiyS9af.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare__react_mf_2_dom__loadShare__.mjs_commonjs-proxy-DsyGWlE7.js
/src-devices/build/assets/__mfe_internal__DevicesWidgetPingSet__loadShare__react_mf_2_dom_mf_1_client__loadShare__.mjs-DJ6H-M8Z.js
/src-devices/build/assets/Components-CGl_pzxP.js
/src-devices/build/assets/hostInit-C6Ss2hKJ.js
/src-devices/build/assets/index-D5PKxXA3.js
/src-devices/build/assets/localSharedImportMap-CTkhbnez.js
/src-devices/build/assets/PingStatusOverviewComponent-D28m_amM.js
/src-devices/build/assets/preload-helper-BDBacUwf.js
/src-devices/build/assets/translations-3IuVnQDy.js
/src-devices/build/assets/virtualExposes-D_eJhhYj.js
/src-devices/build/customDevices.js
/src-devices/build/index.html
/src-devices/build/mf-entry-bootstrap-0.js
/src-devices/build/mf-manifest.json
/src-devices/build/mf-stats.json
/src-devices/.__mf__temp/
